/*------------------------------------------Margin Top Start------------------------------------------------*/
<<<<<<< Updated upstream
.mt_5 {
  margin-top: 5px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_25 {
  margin-top: 25px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_35 {
  margin-top: 35px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_45 {
  margin-top: 45px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_55 {
  margin-top: 55px;
}
.mt_60 {
  margin-top: 60px;
}
.mt_65 {
  margin-top: 65px;
}
.mt_70 {
  margin-top: 70px;
}
.mt_75 {
  margin-top: 75px;
}
.mt_80 {
  margin-top: 80px;
}
.mt_85 {
  margin-top: 85px;
}
.mt_90 {
  margin-top: 90px;
}
.mt_95 {
  margin-top: 95px;
}
.mt_100 {
  margin-top: 100px;
}
.mt_105 {
  margin-top: 105px;
}
.mt_110 {
  margin-top: 110px;
}
.mt_115 {
  margin-top: 115px;
}
.mt_120 {
  margin-top: 120px;
}
.mt_125 {
  margin-top: 125px;
}
.mt_130 {
  margin-top: 130px;
}
.mt_135 {
  margin-top: 135px;
}
.mt_140 {
  margin-top: 140px;
}
.mt_145 {
  margin-top: 145px;
}
.mt_150 {
  margin-top: 150px;
}
.mt_155 {
  margin-top: 155px;
}
.mt_160 {
  margin-top: 160px;
}
.mt_165 {
  margin-top: 165px;
}
.mt_170 {
  margin-top: 170px;
}
.mt_175 {
  margin-top: 175px;
}
.mt_180 {
  margin-top: 180px;
}
.mt_185 {
  margin-top: 185px;
}
.mt_190 {
  margin-top: 190px;
}
.mt_195 {
  margin-top: 195px;
}
.mt_200 {
  margin-top: 200px;
}
.mt_205 {
  margin-top: 205px;
}
.mt_210 {
  margin-top: 210px;
}
.mt_215 {
  margin-top: 215px;
}
.mt_220 {
  margin-top: 220px;
}
.mt_225 {
  margin-top: 225px;
}
.mt_230 {
  margin-top: 230px;
}
.mt_235 {
  margin-top: 235px;
}
.mt_240 {
  margin-top: 240px;
}
.mt_245 {
  margin-top: 245px;
}
.mt_250 {
  margin-top: 250px;
}
.mt_255 {
  margin-top: 255px;
}
.mt_260 {
  margin-top: 260px;
}
.mt_265 {
  margin-top: 265px;
}
.mt_270 {
  margin-top: 270px;
}
.mt_275 {
  margin-top: 275px;
}
.mt_280 {
  margin-top: 280px;
}
.mt_285 {
  margin-top: 285px;
}
.mt_290 {
  margin-top: 290px;
}
.mt_295 {
  margin-top: 295px;
}
.mt_300 {
  margin-top: 300px;
}
.mt_350 {
  margin-top: 350px;
}
.mt_400 {
=======
.mt_5{
  margin-top: 5px;
}
.mt_10{
  margin-top: 10px;
}
.mt_15{
  margin-top: 15px;
}
.mt_20{
  margin-top: 20px;
}
.mt_25{
  margin-top: 25px;
}
.mt_30{
  margin-top: 30px;
}
.mt_35{
  margin-top: 35px;
}
.mt_40{
  margin-top: 40px;
}
.mt_45{
  margin-top: 45px;
}
.mt_50{
  margin-top: 50px;
}
.mt_55{
  margin-top: 55px;
}
.mt_60{
  margin-top: 60px;
}
.mt_65{
  margin-top: 65px;
}
.mt_70{
  margin-top: 70px;
}
.mt_75{
  margin-top: 75px;
}
.mt_80{
  margin-top: 80px;
}
.mt_85{
  margin-top: 85px;
}
.mt_90{
  margin-top: 90px;
}
.mt_95{
  margin-top: 95px;
}
.mt_100{
  margin-top: 100px;
}
.mt_105{
  margin-top: 105px;
}
.mt_110{
  margin-top: 110px;
}
.mt_115{
  margin-top: 115px;
}
.mt_120{
  margin-top: 120px;
}
.mt_125{
  margin-top: 125px;
}
.mt_130{
  margin-top: 130px;
}
.mt_135{
  margin-top: 135px;
}
.mt_140{
  margin-top: 140px;
}
.mt_145{
  margin-top: 145px;
}
.mt_150{
  margin-top: 150px;
}
.mt_155{
  margin-top: 155px;
}
.mt_160{
  margin-top: 160px;
}
.mt_165{
  margin-top: 165px;
}
.mt_170{
  margin-top: 170px;
}
.mt_175{
  margin-top: 175px;
}
.mt_180{
  margin-top: 180px;
}
.mt_185{
  margin-top: 185px;
}
.mt_190{
  margin-top: 190px;
}
.mt_195{
  margin-top: 195px;
}
.mt_200{
  margin-top: 200px;
}
.mt_205{
  margin-top: 205px;
}
.mt_210{
  margin-top: 210px;
}
.mt_215{
  margin-top: 215px;
}
.mt_220{
  margin-top: 220px;
}
.mt_225{
  margin-top: 225px;
}
.mt_230{
  margin-top: 230px;
}
.mt_235{
  margin-top: 235px;
}
.mt_240{
  margin-top: 240px;
}
.mt_245{
  margin-top: 245px;
}
.mt_250{
  margin-top: 250px;
}
.mt_255{
  margin-top: 255px;
}
.mt_260{
  margin-top: 260px;
}
.mt_265{
  margin-top: 265px;
}
.mt_270{
  margin-top: 270px;
}
.mt_275{
  margin-top: 275px;
}
.mt_280{
  margin-top: 280px;
}
.mt_285{
  margin-top: 285px;
}
.mt_290{
  margin-top: 290px;
}
.mt_295{
  margin-top: 295px;
}
.mt_300{
  margin-top: 300px;
}
.mt_350{
  margin-top: 350px;
}
.mt_400{
>>>>>>> Stashed changes
  margin-top: 400px;
}
/*------------------------------------------Margin Top End--------------------------------------------------*/
/*------------------------------------------Margin Bottom Start------------------------------------------------*/
<<<<<<< Updated upstream
.mb_5 {
  margin-bottom: 5px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_15 {
  margin-bottom: 15px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_25 {
  margin-bottom: 25px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_35 {
  margin-bottom: 35px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_45 {
  margin-bottom: 45px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_55 {
  margin-bottom: 55px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mb_65 {
  margin-bottom: 65px;
}
.mb_70 {
  margin-bottom: 70px;
}
.mb_75 {
  margin-bottom: 75px;
}
.mb_80 {
  margin-bottom: 80px;
}
.mb_85 {
  margin-bottom: 85px;
}
.mb_90 {
  margin-bottom: 90px;
}
.mb_95 {
  margin-bottom: 95px;
}
.mb_100 {
  margin-bottom: 100px;
}
/*------------------------------------------Margin Bottom End--------------------------------------------------*/
/*----------------------------------------------Margin Left Start------------------------------------------------------*/
.ml_0 {
  margin-left: 0px;
}
.ml_5 {
  margin-left: 5px;
}
.ml_10 {
  margin-left: 10px;
}
.ml_15 {
  margin-left: 15px;
}
.ml_20 {
  margin-left: 20px;
}
.ml_25 {
  margin-left: 25px;
}
.ml_30 {
  margin-left: 30px;
}
.ml_35 {
  margin-left: 35px;
}
.ml_40 {
  margin-left: 40px;
}
.ml_45 {
  margin-left: 45px;
}
.ml_50 {
  margin-left: 50px;
}
.ml_55 {
  margin-left: 55px;
}
.ml_60 {
  margin-left: 60px;
}
.ml_65 {
  margin-left: 65px;
}
.ml_70 {
  margin-left: 70px;
}
.ml_75 {
  margin-left: 75px;
}
.ml_80 {
  margin-left: 80px;
}
.ml_85 {
  margin-left: 85px;
}
.ml_90 {
  margin-left: 90px;
}
.ml_95 {
  margin-left: 95px;
}
.ml_100 {
  margin-left: 100px;
}
/*----------------------------------------------Margin Left end--------------------------------------------------------*/
/*----------------------------------------------Margin right Start------------------------------------------------------*/
.mr_5 {
  margin-right: 5px;
}
.mr_10 {
  margin-right: 10px;
}
.mr_15 {
  margin-right: 15px;
}
.mr_20 {
  margin-right: 10px;
}
.mr_25 {
  margin-right: 25px;
}
.mr_30 {
  margin-right: 30px;
}
.mr_35 {
  margin-right: 35px;
}
.mr_40 {
  margin-right: 40px;
}
.mr_45 {
  margin-right: 45px;
}
.mr_50 {
  margin-right: 50px;
}
.mr_55 {
  margin-right: 55px;
}
.mr_60 {
  margin-right: 60px;
}
.mr_65 {
  margin-right: 65px;
}
.mr_70 {
  margin-right: 70px;
}
.mr_75 {
  margin-right: 75px;
}
.mr_80 {
  margin-right: 80px;
}
.mr_85 {
  margin-right: 85px;
}
.mr_90 {
  margin-right: 90px;
}
.mr_95 {
  margin-right: 95px;
}
.mr_100 {
  margin-right: 100px;
}
/*----------------------------------------------Margin right end--------------------------------------------------------*/
/*------------------------------------------Padding Top Start------------------------------------------------*/
.pt_5 {
  padding-top: 5px;
}
.pt_10 {
  padding-top: 10px;
}
.pt_15 {
  padding-top: 15px;
}
.pt_20 {
  padding-top: 20px;
}
.pt_25 {
  padding-top: 25px;
}
.pt_30 {
  padding-top: 30px;
}
.pt_35 {
  padding-top: 35px;
}
.pt_40 {
  padding-top: 40px;
}
.pt_45 {
  padding-top: 45px;
}
.pt_50 {
  padding-top: 50px;
}
.pt_55 {
  padding-top: 55px;
}
.pt_60 {
  padding-top: 60px;
}
.pt_65 {
  padding-top: 65px;
}
.pt_70 {
  padding-top: 70px;
}
.pt_75 {
  padding-top: 75px;
}
.pt_80 {
  padding-top: 80px;
}
.pt_85 {
  padding-top: 85px;
}
.pt_90 {
  padding-top: 90px;
}
.pt_95 {
  padding-top: 95px;
}
.pt_100 {
  padding-top: 100px;
}
.pt_105 {
  padding-top: 105px;
}
.pt_110 {
  padding-top: 110px;
}
.pt_115 {
  padding-top: 115px;
}
.pt_120 {
  padding-top: 120px;
}
.pt_125 {
  padding-top: 125px;
}
.pt_130 {
  padding-top: 130px;
}
.pt_135 {
  padding-top: 135px;
}
.pt_140 {
  padding-top: 140px;
}
.pt_145 {
  padding-top: 145px;
}
.pt_150 {
  padding-top: 150px;
}
.pt_155 {
  padding-top: 155px;
}
.pt_160 {
  padding-top: 160px;
}
.pt_165 {
  padding-top: 165px;
}
.pt_170 {
  padding-top: 170px;
}
.pt_175 {
  padding-top: 175px;
}
.pt_180 {
  padding-top: 180px;
}
.pt_185 {
  padding-top: 185px;
}
.pt_190 {
  padding-top: 190px;
}
.pt_195 {
  padding-top: 195px;
}
.pt_200 {
  padding-top: 200px;
}
/*------------------------------------------padding Top End--------------------------------------------------*/
.display_inline {
  display: inline-flex;
}
.display_none {
  display: none;
}
.width_100 {
=======
.mb_5{
  margin-bottom:5px;
}
.mb_10{
  margin-bottom:10px;
}
.mb_15{
  margin-bottom:15px;
}
.mb_20{
  margin-bottom:20px;
}
.mb_25{
  margin-bottom:25px;
}
.mb_30{
  margin-bottom:30px;
}
.mb_35{
  margin-bottom:35px;
}
.mb_40{
  margin-bottom:40px;
}
.mb_45{
  margin-bottom:45px;
}
.mb_50{
  margin-bottom:50px;
}
.mb_55{
  margin-bottom:55px;
}
.mb_60{
  margin-bottom:60px;
}
.mb_65{
  margin-bottom:65px;
}
.mb_70{
  margin-bottom:70px;
}
.mb_75{
  margin-bottom:75px;
}
.mb_80{
  margin-bottom:80px;
}
.mb_85{
  margin-bottom:85px;
}
.mb_90{
  margin-bottom:90px;
}
.mb_95{
  margin-bottom:95px;
}
.mb_100{
  margin-bottom:100px;
}
/*------------------------------------------Margin Bottom End--------------------------------------------------*/
/*----------------------------------------------Margin Left Start------------------------------------------------------*/
.ml_0{
  margin-left: 0px;
}
.ml_5{
  margin-left:5px;
}
.ml_10{
  margin-left:10px;
}
.ml_15{
  margin-left:15px;
}
.ml_20{
  margin-left:20px;
}
.ml_25{
  margin-left:25px;
}
.ml_30{
  margin-left:30px;
}
.ml_35{
  margin-left:35px;
}
.ml_40{
  margin-left:40px;
}
.ml_45{
  margin-left:45px;
}
.ml_50{
  margin-left:50px;
}
.ml_55{
  margin-left:55px;
}
.ml_60{
  margin-left:60px;
}
.ml_65{
  margin-left:65px;
}
.ml_70{
  margin-left:70px;
}
.ml_75{
  margin-left:75px;
}
.ml_80{
  margin-left:80px;
}
.ml_85{
  margin-left:85px;
}
.ml_90{
  margin-left:90px;
}
.ml_95{
  margin-left:95px;
}
.ml_100{
  margin-left:100px;
}
/*----------------------------------------------Margin Left end--------------------------------------------------------*/
/*----------------------------------------------Margin right Start------------------------------------------------------*/
.mr_5{
  margin-right:5px;
}
.mr_10{
  margin-right:10px;
}
.mr_15{
  margin-right:15px;
}
.mr_20{
  margin-right:10px;
}
.mr_25{
  margin-right:25px;
}
.mr_30{
  margin-right:30px;
}
.mr_35{
  margin-right:35px;
}
.mr_40{
  margin-right:40px;
}
.mr_45{
  margin-right:45px;
}
.mr_50{
  margin-right:50px;
}
.mr_55{
  margin-right:55px;
}
.mr_60{
  margin-right:60px;
}
.mr_65{
  margin-right:65px;
}
.mr_70{
  margin-right:70px;
}
.mr_75{
  margin-right:75px;
}
.mr_80{
  margin-right:80px;
}
.mr_85{
  margin-right:85px;
}
.mr_90{
  margin-right:90px;
}
.mr_95{
  margin-right:95px;
}
.mr_100{
  margin-right:100px;
}
/*----------------------------------------------Margin right end--------------------------------------------------------*/
/*------------------------------------------Padding Top Start------------------------------------------------*/
.pt_5{
  padding-top: 5px;
}
.pt_10{
  padding-top: 10px;
}
.pt_15{
  padding-top: 15px;
}
.pt_20{
  padding-top: 20px;
}
.pt_25{
  padding-top: 25px;
}
.pt_30{
  padding-top: 30px;
}
.pt_35{
  padding-top: 35px;
}
.pt_40{
  padding-top: 40px;
}
.pt_45{
  padding-top: 45px;
}
.pt_50{
  padding-top: 50px;
}
.pt_55{
  padding-top: 55px;
}
.pt_60{
  padding-top: 60px;
}
.pt_65{
  padding-top: 65px;
}
.pt_70{
  padding-top: 70px;
}
.pt_75{
  padding-top: 75px;
}
.pt_80{
  padding-top: 80px;
}
.pt_85{
  padding-top: 85px;
}
.pt_90{
  padding-top: 90px;
}
.pt_95{
  padding-top: 95px;
}
.pt_100{
  padding-top: 100px;
}
.pt_105{
  padding-top: 105px;
}
.pt_110{
  padding-top: 110px;
}
.pt_115{
  padding-top: 115px;
}
.pt_120{
  padding-top: 120px;
}
.pt_125{
  padding-top: 125px;
}
.pt_130{
  padding-top: 130px;
}
.pt_135{
  padding-top: 135px;
}
.pt_140{
  padding-top: 140px;
}
.pt_145{
  padding-top: 145px;
}
.pt_150{
  padding-top: 150px;
}
.pt_155{
  padding-top: 155px;
}
.pt_160{
  padding-top: 160px;
}
.pt_165{
  padding-top: 165px;
}
.pt_170{
  padding-top: 170px;
}
.pt_175{
  padding-top: 175px;
}
.pt_180{
  padding-top: 180px;
}
.pt_185{
  padding-top: 185px;
}
.pt_190{
  padding-top: 190px;
}
.pt_195{
  padding-top: 195px;
}
.pt_200{
  padding-top: 200px;
}
/*------------------------------------------padding Top End--------------------------------------------------*/
.display_inline{
  display: inline-flex;
}
.display_none{
  display: none;
}
.width_100{
>>>>>>> Stashed changes
  width: 100%;
}
form {
  width: fit-content;
}
.body-form {
  display: inline-grid;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
}
.button-form {
  margin: 10px;
  background: rgb(165 42 42);
  border: 0;
  padding: 10px 25px;
  border-radius: 4px;
  color: rgb(241 241 241);
}
.input-form {
  padding: 5px 10px;
  margin: 10px;
}
<<<<<<< Updated upstream
.section_1_bg {
=======
.section_1_bg{
>>>>>>> Stashed changes
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.section_1_container {
  width: 100%;
  float: right;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: inline-block;
  display: -moz-box;
  display: -ms-flexbox;
}
<<<<<<< Updated upstream
.sub_section_1 {
=======
.sub_section_1{
>>>>>>> Stashed changes
  /*background-image: url('img/sideimage.png');*/
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 50%;
  float: left;
}
<<<<<<< Updated upstream
.sub_section_2 {
  width: 50%;
  float: right;
  background: #f8fbff;
=======
.sub_section_2{
  width: 50%;
  float: right;
  background: #F8FBFF;
>>>>>>> Stashed changes
  border-radius: 60px 0px 0px 60px;
}
.display_t {
  display: block;
  min-height: 700px;
  margin: 0px 30px 0px 30px;
}
<<<<<<< Updated upstream
.create_account {
  width: 148px;
  height: 48px;
  background: #0d46fb;
  border-radius: 16px;
  padding: 10px 20px;
=======
.create_account{
  width:148px;
  Height:48px;
  background: #0D46FB;
  border-radius: 16px;
  padding:10px 20px;
>>>>>>> Stashed changes
  color: #fff;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
<<<<<<< Updated upstream
  border: none;
}
.float_right {
  float: right;
}
.float_left {
=======
  border:none;
}
.float_right{
  float: right;
}
.float_left{
>>>>>>> Stashed changes
  float: left;
}
.logo_title {
  font-family: Mulish;
<<<<<<< Updated upstream
  font-weight: 800;
  font-size: 35px;
  color: #1d1929;
  text-align: left;
}
.login_box {
  padding: 113px 140px;
}
.basic_info_box {
  padding: 75px 140px;
}
.basic_info_form_box {
  padding: 32px 0;
}
.welcome_title {
  font-family: Mulish;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  color: #1d1929;
  text-align: left;
}
/*------------------------------------------Login Form Start------------------------------------*/
.signin_box {
  padding: 50px 0;
}
.sign_title {
=======
  font-Weight: 800;
  font-size: 35px;
  color: #1D1929;
  text-align: left;
}
.login_box{
  padding: 113px 140px;
}
.basic_info_box{
  padding: 75px 140px;  
}
.basic_info_form_box{  
  padding: 32px 0;
}
.welcome_title{
  font-family: Mulish;
  font-Weight:600;
  font-size:18px;
  margin-top: 15px;
  color: #1D1929;
  text-align: left;
}
/*------------------------------------------Login Form Start------------------------------------*/
.signin_box{
  padding: 30px 0;
}
.sign_title{
>>>>>>> Stashed changes
  font-family: Mulish;
  font-size: 16px;
  color: #000;
  line-height: 20px;
  font-weight: 600;
}
<<<<<<< Updated upstream
.logo_box {
  padding: 50px 80px;
}
.slider_1 {
  padding: 70px 80px 40px 80px;
}
.slider_text {
  font-family: Mulish;
  font-weight: 800;
  font-size: 24px;
  color: #1e1f20;
=======
.logo_box{
  padding: 50px 80px;
}
.slider_1{
  padding: 70px 80px 40px 80px;
}
.slider_text{
  font-family: Mulish;
  font-Weight: 800;
  font-size: 24px;
  color: #1E1F20;
>>>>>>> Stashed changes
  line-height: 36px;
}
.by_clicking {
  font-family: Mulish;
<<<<<<< Updated upstream
  font-weight: 600;
=======
  font-Weight: 600;
>>>>>>> Stashed changes
  font-size: 16px;
  color: #000;
  line-height: 36px;
  text-align: center;
}
<<<<<<< Updated upstream
.login_with_otp {
  font-family: Mulish;
  font-size: 14px;
  color: #3093bb;
  margin-top: 20px;
  font-weight: 600;
}
.forgot_password {
  font-family: Mulish;
  font-size: 14px;
  color: #3093bb;
=======
.login_with_otp{
  font-family: Mulish;
  font-size: 14px;
  color: #3093BB;
  margin-top: 20px;
  font-weight: 600;
}
.forgot_password{
  font-family: Mulish;
  font-size: 14px;
  color: #3093BB;
>>>>>>> Stashed changes
  margin-top: 0px;
  font-weight: 600;
  float: right;
}
<<<<<<< Updated upstream
.dont_have_account {
  font-family: "Mulish";
=======
.dont_have_account{
  font-family: 'Mulish';
>>>>>>> Stashed changes
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
<<<<<<< Updated upstream
.sign_up {
  font-family: "Mulish";
=======
.sign_up{
  font-family: 'Mulish';
>>>>>>> Stashed changes
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #f8446c;
  text-decoration: none;
}
<<<<<<< Updated upstream
.input_box {
  border: 1px solid #ede8e9;
=======
.input_box{
  border: 1px solid #EDE8E9;
>>>>>>> Stashed changes
  height: 48px;
  padding: 0px 0 0 0px;
  border-radius: 10px;
}
<<<<<<< Updated upstream
.forgot_text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
  float: right;
}
.forgot_text a.ahref {
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
  float: right;
  text-decoration: none;
  color: #1d1929;
}
.login_btn {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(45deg, #3093bb 0%, #82dbff 100%);
  width: 100%;
  padding: 15px 20px;
  border: none;
=======
.forgot_text{
  font-family: Mulish;
  font-Weight:400;
  font-size:18px;
  float: right;
}
.forgot_text a.ahref{
  font-family: Mulish;
  font-Weight:400;
  font-size:18px;
  float: right;
  text-decoration: none;
  color: #1D1929;
}
.login_btn{
  font-family:Mulish;
  font-Weight:700;
  font-size: 16px;
  background: linear-gradient(45deg, #3093BB 0%, #82DBFF 100%);
  width: 100%;
  padding: 15px 20px;
  border:none;
>>>>>>> Stashed changes
  border-radius: 12px;
  color: #fff;
  margin-top: 50px;
}
<<<<<<< Updated upstream
.dont_account {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  color: #77757f;
  margin-top: 50px;
}
.new_account {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  color: #fd6e22;
}
.new_account a.ahref {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  color: #fd6e22;
  text-decoration: none;
}
.ahref {
  text-decoration: none;
}
.lable_text {
=======
.dont_account{
  font-family:Mulish;
  font-Weight:700;
  font-size: 16px;
  color:#77757F;
  margin-top: 50px;
}
.new_account{
  font-family: Mulish;
  font-Weight:700;
  font-size: 16px;
  color:#FD6E22;
}
.new_account a.ahref{
  font-family: Mulish;
  font-Weight:700;
  font-size: 16px;
  color:#FD6E22;
  text-decoration: none;
}
.ahref{
  text-decoration: none;
}
.lable_text{
>>>>>>> Stashed changes
  font-family: Mulish;
  position: absolute;
  left: 15px;
  top: 28px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
<<<<<<< Updated upstream
  color: #908e8e;
=======
  color: #908E8E;
>>>>>>> Stashed changes
  font-size: 14px;
  line-height: 10px;
}
label.field {
  border-radius: 2px;
  color: #666;
  display: block;
  margin: 0px 0 0 7px;
  padding: 8px;
  opacity: 0;
  position: relative;
  transition-property: opacity;
  z-index: 1;
}
label.field span {
  color: inherit;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
  left: 9px;
  pointer-events: none;
  position: absolute;
  top: 23px;
  transform: scale(1) translateY(0);
  transition-property: color, font-size, top;
  z-index: 1;
}
label.field span.required::after {
  color: inherit;
  content: "*";
  display: block;
  height: 20px;
  left: -20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}
.error label.field span {
<<<<<<< Updated upstream
  color: #f02318;
=======
  color: #F02318;
>>>>>>> Stashed changes
}
label.field .psuedo_select {
  background: #ffffff00;
  position: relative;
  color: #666;
  cursor: pointer;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  margin: 24px 32px 0 0;
  min-width: 100%;
  /*min-width: 325px;*/
  padding-top: 24px;
  outline: 0;
  z-index: 1;
}
label.field .psuedo_select::after {
<<<<<<< Updated upstream
  background: url("data:image/svg+xml;utf8,<svg fill='#666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"),
    no-repeat;
=======
  background: url("data:image/svg+xml;utf8,<svg fill='#666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"), no-repeat;
>>>>>>> Stashed changes
  content: "";
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
  transition-property: background;
}
label.field .psuedo_select .selected {
  font-family: Mulish;
  color: #000;
  font-weight: 600;
  height: 24px;
  left: 1px;
  line-height: 24px;
  opacity: 0;
  position: absolute;
  top: -2px;
  transform: translateY(24px);
  transition-property: opacity, transform;
  will-change: transform;
}
label.field .psuedo_select ul {
  background: #fbf3f3;
  /* box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%); */
  display: block;
  margin-left: -10px;
<<<<<<< Updated upstream
  height: 100px !important;
=======
  height: 100px!important;
>>>>>>> Stashed changes
  width: 100%;
  list-style: none;
  margin-top: 2px;
  opacity: 0;
  overflow: hidden;
  padding: 5px 5px;
  pointer-events: none;
  transition-property: height, opacity;
  z-index: 2;
}
label.field .psuedo_select ul li {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  height: 32px;
  padding: 8px 4px;
  text-align: left;
}
label.field .deselect {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}
label.field.focused {
<<<<<<< Updated upstream
  color: #007bed;
}
label.field.focused .psuedo_select {
  border-color: #007bed;
=======
  color: #007BED;
}
label.field.focused .psuedo_select {
  border-color: #007BED;
>>>>>>> Stashed changes
}
label.field.focused .psuedo_select ul {
  opacity: 1;
  pointer-events: all;
}
<<<<<<< Updated upstream
.arrow_icon {
  position: absolute;
  top: 32px;
  right: 25px;
  color: #908e8e;
=======
.arrow_icon{
  position: absolute;
  top: 32px;
  right: 25px;
  color: #908E8E;
>>>>>>> Stashed changes
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  /*content: "";*/
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
<<<<<<< Updated upstream
input:valid ~ label,
textarea:valid ~ label,
input:focus ~ label,
textarea:focus ~ label {
  font-size: 0.75em;
  top: -1rem;
=======
input:valid ~ label, textarea:valid ~ label, input:focus ~ label, textarea:focus ~ label {
  font-size: 0.75em;
  top: -1.0rem;
>>>>>>> Stashed changes
}
.styled-input {
  background-color: #ffffffcc;
  width: 100%;
  border-radius: 8px;
  position: relative;
  margin-bottom: 20px;
<<<<<<< Updated upstream
  /*float: left;*/
  /* float: left; */
  position: relative;
  font-weight: 300;
  border: solid 1px #ede8e9;
=======
    /*float: left;*/
  /* float: left; */
  position: relative;
  font-weight: 300;
  border: solid 1px #EDE8E9;
>>>>>>> Stashed changes
  position: relative;
  margin-bottom: 20px;
  height: 66px;
}
.styled-input label {
  color: #999;
  padding: 23px 1px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 300;
  left: 15px;
}
<<<<<<< Updated upstream
input.input_field,
textarea.input_textarea {
=======
input.input_field, textarea.input_textarea {
>>>>>>> Stashed changes
  padding: 2.3rem 1rem 1rem 2rem;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  height: 61px;
  font-family: Mulish;
  font-weight: 600;
  /* position: relative; */
  z-index: 2;
  font-size: 15px;
  color: #333;
}
<<<<<<< Updated upstream
input[type="text"]:focus {
  border-color: #66afe9 !important;
}
input[type="email"]:focus {
  border-color: #66afe9 !important;
}
input[type="email"]:focus {
  border-color: #66afe9 !important;
}
input.input_field:pattern {
=======
input[type="text"]:focus{
  border-color: #66afe9!important;
}
input[type="email"]:focus{
  border-color: #66afe9!important;
}
input[type="email"]:focus{
  border-color: #66afe9!important;
}
input.input_field:pattern{
>>>>>>> Stashed changes
  padding: 2.3rem 1rem 1rem 1.7rem;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  height: 64px;
  font-family: Mulish;
  font-weight: 600;
  /* position: relative; */
  z-index: 2;
  font-size: 15px;
  color: #333;
}
.form-radio,
.form_group {
  position: relative;
  margin-bottom: 10px;
}
.form-inline > .form_group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}
.form_group input {
  height: 6.2rem;
}
.form_group textarea {
  resize: none;
}
.form_group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form_group .control-label {
  position: absolute;
  top: 2.1rem;
  pointer-events: none;
<<<<<<< Updated upstream
  padding-left: 2rem !important;
=======
  padding-left: 2rem!important;
>>>>>>> Stashed changes
  z-index: 1;
  color: #999;
  transition: all 0.28s ease;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
}
<<<<<<< Updated upstream
.form_group input,
.form_group textarea {
  display: block;
  background: none;
  padding: 0.5rem 1.5rem 0.5rem 20px !important;
=======
.form_group input, .form_group textarea {
  display: block;
  background: none;
  padding: 0.5rem 1.5rem 0.5rem 20px!important;
>>>>>>> Stashed changes
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
  font-family: Mulish;
  font-weight: 600;
  font-size: 16px;
<<<<<<< Updated upstream
  height: 48px !important;
  color: #1d1929;
=======
  height: 48px!important;
  color: #1D1929;
>>>>>>> Stashed changes
  border-radius: 10px;
}
.form_group select:focus,
.form_group input:focus,
.form_group textarea:focus {
  outline: none;
  /*border-radius: 10px;*/
}
.form_group select:focus ~ .control-label,
.form_group input:focus ~ .control-label,
.form_group textarea:focus ~ .control-label {
  color: #337ab7;
}
.form_group select,
.form_group input:focus,
.form_group input[data-value]:not([data-value=""]),
/*.form_group input:valid,*/
.form_group input.form-file,
.form_group input.has-value,
.form_group textarea:focus,
.form_group textarea:valid,
.form_group textarea.form-file,
.form_group textarea.has-value {
  color: #333;
  height: 50px;
  padding-top: 16px;
}
.form_group select ~ .control-label,
.form_group input:focus ~ .control-label,
.form_group input[data-value]:not([data-value=""]) ~ .control-label,
/*.form_group input:valid ~ .control-label,*/
.form_group input.form-file ~ .control-label,
.form_group input.has-value ~ .control-label,
.form_group textarea:focus ~ .control-label,
.form_group textarea.form-file ~ .control-label,
.form_group textarea.has-value ~ .control-label {
<<<<<<< Updated upstream
  font-size: 1.2rem !important;
  color: gray;
  top: 1.2rem !important;
  left: 0;
}
input:valid ~ label,
textarea:valid ~ label,
input:focus ~ label,
textarea:focus ~ label {
=======
  font-size: 1.2rem!important;
  color: gray;
  top: 1.2rem!important;
  left: 0;
}
input:valid ~ label, textarea:valid ~ label, input:focus ~ label, textarea:focus ~ label {
>>>>>>> Stashed changes
  font-size: 0.75em;
  top: -0.4rem;
}
.toggle-password {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -34px;
  font-size: 18px;
}
.toggle_password_1 {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -34px;
  font-size: 18px;
}
/*-------------------------------------------Login Form End-------------------------------------*/
/*-------------------------------------------Slider Css Start--------------------------------------*/
.owl-theme .owl-dots .owl-dot span {
<<<<<<< Updated upstream
  width: 15px !important;
  height: 5px !important;
  margin: 5px 7px;
  background: #d6d6d6;
=======
  width: 15px!important;
  height: 5px!important;
  margin: 5px 7px;
  background: #D6D6D6;
>>>>>>> Stashed changes
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
<<<<<<< Updated upstream
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #3093bb !important;
}
/*--------------------------------------------Slider Css End---------------------------------------*/
/*-------------------------------------------OTP Css Start-------------------------------------------*/
.mobile_verification {
  font-family: "Mulish";
=======
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background:#3093BB!important;
}
/*--------------------------------------------Slider Css End---------------------------------------*/
/*-------------------------------------------OTP Css Start-------------------------------------------*/
.mobile_verification{
  font-family: 'Mulish';
>>>>>>> Stashed changes
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
<<<<<<< Updated upstream
.otp_sent {
  font-family: "Mulish";
=======
.otp_sent{
  font-family: 'Mulish';  
>>>>>>> Stashed changes
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}
<<<<<<< Updated upstream
.close_btn {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 15px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  color: #9393aa;
=======
.close_btn{
  font-family: 'Mulish';  
  font-weight: 600;
  font-size: 15px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  color: #9393AA;
>>>>>>> Stashed changes
  padding: 10px 40px;
  margin-right: 10px;
  /*width: 50%;*/
}
<<<<<<< Updated upstream
.verify_btn {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(45deg, #3093bb 0%, #82dbff 100%);
  border: 1px solid #e0e0e0;
=======
.verify_btn{
  font-family: 'Mulish';  
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(45deg, #3093BB 0%, #82DBFF 100%);
  border: 1px solid #E0E0E0;
>>>>>>> Stashed changes
  border-radius: 12px;
  color: #fff;
  padding: 10px 40px;
  /*width: 50%;*/
}
<<<<<<< Updated upstream
.verify_btn:hover {
  text-decoration: none;
}
.resend {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #f8446c;
}
.my_work_profile_btn {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(45deg, #3093bb 0%, #82dbff 100%);
  border: 1px solid #e0e0e0;
=======
.verify_btn:hover{
  text-decoration: none;
}
.resend{
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #F8446C;
}
.my_work_profile_btn{
  font-family: 'Mulish';  
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(45deg, #3093BB 0%, #82DBFF 100%);
  border: 1px solid #E0E0E0;
>>>>>>> Stashed changes
  border-radius: 12px;
  color: #fff;
  padding: 10px 49px;
  width: 100%;
}
<<<<<<< Updated upstream
.please_fill_out_profile {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #f8446c;
}
.welcome_ths {
  font-family: Mulish;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  color: #1d1929;
}
.modal_width {
  width: 380px !important;
}
.otpContainer {
  display: inline-flex;
=======
.please_fill_out_profile{
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #F8446C;
}
.welcome_ths{
  font-family: Mulish;
  font-Weight: 600;
  font-size: 18px;
  margin-top: 15px;
  color: #1D1929;
}
.modal_width{
  width: 380px!important;
}
.otpContainer{
  display: inline-flex ;
>>>>>>> Stashed changes
}
.otpInput {
  width: 40px;
  margin-right: 10px;
  height: 46px;
  border-radius: 8px;
<<<<<<< Updated upstream
  border: 1px solid #f0f0f0;
=======
  border: 1px solid #F0F0F0;
>>>>>>> Stashed changes
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-family: Mulish;
}
<<<<<<< Updated upstream
input:focus {
  border: 1px solid;
  outline: none !important;
  border-color: #719ece;
}
/*--------------------------------------------OTP Css End--------------------------------------------*/
/*--------------------------------------------User Profile Css Start--------------------------------------------*/
.basic_box {
  padding: 50px 0;
}
.steps {
  font-family: Mulish;
  font-size: 15px;
  font-weight: 600;
  color: #1e1f20;
}
.info_title {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  color: #1e1f20;
  margin-top: 15px;
  margin-bottom: 20px;
}
.info_subtitle {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.upload_avatar_btn {
=======
input:focus{
  border: 1px solid;
  outline: none !important;
  border-color: #719ECE;
}
/*--------------------------------------------OTP Css End--------------------------------------------*/
/*--------------------------------------------User Profile Css Start--------------------------------------------*/
.basic_box{
  padding: 50px 0;
}
.steps{
  font-family: Mulish;
  font-size: 15px;
  font-weight: 600;
  color: #1E1F20;
}
.info_title{
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  color: #1E1F20;
  margin-top: 15px;
  margin-bottom: 20px;
}
.info_subtitle{
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  Line-height: 22px;
}
.upload_avatar_btn{
>>>>>>> Stashed changes
  font-family: Mulish;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  border: none;
<<<<<<< Updated upstream
  background: #24b2b2;
=======
  background: #24B2B2;
>>>>>>> Stashed changes
  border-radius: 10px;
  width: 200px;
  padding: 15px 10px;
  color: #fff;
}
<<<<<<< Updated upstream
.upload_avatar_subtitle {
  font-family: "Mulish";
=======
.upload_avatar_subtitle{
  font-family: 'Mulish';
>>>>>>> Stashed changes
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
<<<<<<< Updated upstream
  color: #9393aa;
  margin-top: 10px;
}
.progress_box {
  border: 1px dashed #24b2b2;
=======
  color: #9393AA;
  margin-top: 10px;
}
.progress_box{
  border: 1px dashed #24B2B2;
>>>>>>> Stashed changes
  border-radius: 10px;
  padding: 2px 0px 2px 15px;
  width: -webkit-fill-available;
}
<<<<<<< Updated upstream
.profile_milestone {
  font-family: "Mulish";
=======
.profile_milestone{
  font-family: 'Mulish';
>>>>>>> Stashed changes
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 13px;
}
<<<<<<< Updated upstream
.progress_bar_subtext {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #9393aa;
=======
.progress_bar_subtext{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #9393AA;
>>>>>>> Stashed changes
  margin-bottom: 13px;
}
.progress-outer {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
  margin-top: -5px;
}
.progress-info {
  width: 30px;
  padding-left: 20px;
<<<<<<< Updated upstream
  font-family: "Mulish";
  font-weight: 600;
  font-size: 20px;
  color: #f8446c;
=======
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 20px;
  color: #F8446C;
>>>>>>> Stashed changes
  margin-top: 10px;
  padding-top: 5px;
}
.progress {
  width: 100%;
  background: #eee;
  min-height: 1px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.progress.progress--small {
  height: 3px;
}
.progress.progress--medium {
  height: 5px;
}
.progress.progress--large {
  height: 10px;
}
.progress-bar {
<<<<<<< Updated upstream
  background: #24b2b2;
=======
  background: #24B2B2;
>>>>>>> Stashed changes
  height: 100%;
  position: absolute;
  left: 0;
}
.progress.progress--loading .progress-bar {
  width: 30%;
  animation: moveToRight 1s infinite linear;
  border-radius: 3%;
}
<<<<<<< Updated upstream
.skip {
  font-family: "Mulish";
=======
.skip{
  font-family: 'Mulish';
>>>>>>> Stashed changes
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  float: right;
<<<<<<< Updated upstream
  color: #1e1f20;
  cursor: pointer;
}
.wrapper {
  display: inline-block;
  position: relative;
}
input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
=======
  color: #1E1F20;
  cursor: pointer;
}
.wrapper{
  display:inline-block;
  position:relative;
}
input[type=file]{
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
>>>>>>> Stashed changes
}
/*
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.file-preview {
  margin: 0 10px;
}*/
<<<<<<< Updated upstream
.form-select {
  background: none;
  padding: 0.5rem 1.5rem 0.5rem 20px !important;
=======
.form-select{
  background: none;
  padding: 0.5rem 1.5rem 0.5rem 20px!important;
>>>>>>> Stashed changes
  border-width: 0;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none;
  font-family: Mulish;
  font-weight: 600;
  font-size: 16px;
<<<<<<< Updated upstream
  height: 48px !important;
  color: #1d1929;
  border: 1px solid #ede8e9;
  border-radius: 10px;
  background-color: #fff;
  background-image: url("../img/drop_arrow.png");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
=======
  height: 48px!important;
  color: #1D1929;
  border: 1px solid #EDE8E9;
  border-radius: 10px;
  background-color: #fff;
  background-image: url('../img/drop_arrow.png');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
>>>>>>> Stashed changes
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
}
<<<<<<< Updated upstream
.gender_wrapper {
  display: inline-block;
  position: relative;
}
input[type="radio"] {
  opacity: 0;
  /*position:absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.male_icon {
=======
.gender_wrapper{
  display: inline-block;
  position: relative;
}
input[type=radio]{
  opacity:0;
  /*position:absolute;*/
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.male_icon{
>>>>>>> Stashed changes
  /*background-image: url('../img/ic_male.svg');*/
  background-repeat: no-repeat;
  height: 65px;
  width: 65px;
  padding: 30px;
  background-position: center center;
  box-shadow: 0px 10px 20px rgb(29 161 242 / 30%);
<<<<<<< Updated upstream
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  --bs-btn-bg: #fff;
}
.male_icon:hover,
.fill_svg:hover {
  --bs-btn-hover-bg: #24b2b2 !important;
  --bs-btn-active-bg: #24b2b2 !important;
  --bs-btn-active-shadow: none !important;
  --bs-btn-border-color: #24b2b2 !important;
  --bs-btn-hover-color: #24b2b2 !important;
  --bs-btn-hover-border-color: #24b2b2 !important;
  --bs-btn-focus-shadow-rgb: #24b2b2 !important;
  --bs-btn-active-color: #24b2b2 !important;
  --bs-btn-active-border-color: #24b2b2 !important;
  --bs-btn-disabled-color: #24b2b2 !important;
  --bs-btn-disabled-bg: #24b2b2 !important;
  --bs-btn-disabled-border-color: #24b2b2 !important;
  border: none;
}
.female_icon {
=======
  border: 1px solid #F0F0F0;
  border-radius: 20px;
  --bs-btn-bg: #fff;
}
.male_icon:hover,.fill_svg:hover {  
  --bs-btn-hover-bg:#24B2B2!important;
  --bs-btn-active-bg:#24B2B2!important;
  --bs-btn-active-shadow:none!important;
  --bs-btn-border-color:#24B2B2!important;
  --bs-btn-hover-color:#24B2B2!important;
  --bs-btn-hover-border-color:#24B2B2!important;
  --bs-btn-focus-shadow-rgb:#24B2B2!important;
  --bs-btn-active-color:#24B2B2!important;
  --bs-btn-active-border-color:#24B2B2!important;
  --bs-btn-disabled-color:#24B2B2!important;
  --bs-btn-disabled-bg:#24B2B2!important;
  --bs-btn-disabled-border-color:#24B2B2!important;
  border: none;
}
.female_icon{
>>>>>>> Stashed changes
  /*background-image: url('../img/ic_female.svg');*/
  background-repeat: no-repeat;
  height: 65px;
  width: 65px;
  padding: 30px;
  background-position: center center;
  box-shadow: 0px 10px 20px rgb(29 161 242 / 30%);
<<<<<<< Updated upstream
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  --bs-btn-bg: #ffffff;
}
.female_icon:hover {
  --bs-btn-hover-bg: #24b2b2 !important;
  --bs-btn-active-bg: #24b2b2 !important;
  --bs-btn-active-shadow: none !important;
  --bs-btn-border-color: #24b2b2 !important;
  --bs-btn-hover-color: #24b2b2 !important;
  --bs-btn-hover-border-color: #24b2b2 !important;
  --bs-btn-focus-shadow-rgb: #24b2b2 !important;
  --bs-btn-active-color: #24b2b2 !important;
  --bs-btn-active-border-color: #24b2b2 !important;
  --bs-btn-disabled-color: #24b2b2 !important;
  --bs-btn-disabled-bg: #24b2b2 !important;
  --bs-btn-disabled-border-color: #24b2b2 !important;
  border: none;
}
.male_title {
  font-family: "Mulish";
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #1e1f20;
=======
  border: 1px solid #F0F0F0;
  border-radius: 20px;
  --bs-btn-bg: #FFFFFF;
}
.female_icon:hover{
  --bs-btn-hover-bg:#24B2B2!important;
  --bs-btn-active-bg:#24B2B2!important;
  --bs-btn-active-shadow:none!important;
  --bs-btn-border-color:#24B2B2!important;
  --bs-btn-hover-color:#24B2B2!important;
  --bs-btn-hover-border-color:#24B2B2!important;
  --bs-btn-focus-shadow-rgb:#24B2B2!important;
  --bs-btn-active-color:#24B2B2!important;
  --bs-btn-active-border-color:#24B2B2!important;
  --bs-btn-disabled-color:#24B2B2!important;
  --bs-btn-disabled-bg:#24B2B2!important;
  --bs-btn-disabled-border-color:#24B2B2!important;
  border: none;
}
.male_title {
  font-family:'Mulish';
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #1E1F20;
>>>>>>> Stashed changes
  margin-top: 35px;
  position: absolute;
  margin-top: 90px;
  margin-left: -75px;
}
<<<<<<< Updated upstream
.female_title {
  font-family: "Mulish";
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #1e1f20;
=======
.female_title{
  font-family:'Mulish';
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #1E1F20;
>>>>>>> Stashed changes
  margin-top: 35px;
  position: absolute;
  margin-top: 90px;
  margin-left: -85px;
}
<<<<<<< Updated upstream
.fill_svg {
  fill: #9393aa;
}
.svg_icon {
  margin-top: -23px;
  margin-left: -12px;
}
input[type="radio"]:checked {
  background: #000;
  padding: 300px;
}
.radio_box {
  padding: 10px 0;
}
.radio_box label {
=======
.fill_svg{
  fill: #9393aa;
}
.svg_icon{
  margin-top: -23px;
  margin-left: -12px;
}
input[type="radio"]:checked{
  background: #000;
  padding:300px;
}
.radio_box{
  padding: 10px 0;
}
.radio_box label{
>>>>>>> Stashed changes
  background-repeat: no-repeat;
  height: 65px;
  width: 65px;
  padding: 30px;
  background-position: center center;
  box-shadow: 0px 10px 20px rgb(29 161 242 / 30%);
<<<<<<< Updated upstream
  border: 1px solid #f0f0f0;
=======
  border: 1px solid #F0F0F0;
>>>>>>> Stashed changes
  border-radius: 20px;
  background: #fff;
}
.radio_box label input[type="radio"]:checked {
  --bs-btn-bg: #2ee2ae;
  background: #000;
}
<<<<<<< Updated upstream
.skip_btn {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(45deg, #3093bb 0%, #82dbff 100%);
  border: 1px solid #e0e0e0;
=======
.skip_btn{
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(45deg, #3093BB 0%, #82DBFF 100%);
  border: 1px solid #E0E0E0;
>>>>>>> Stashed changes
  border-radius: 12px;
  color: #fff;
  padding: 10px 30px;
}
<<<<<<< Updated upstream
.close_btn_1 {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 15px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  color: #9393aa;
  padding: 10px 25px;
  margin-right: 10px;
}
.skip_registration_title {
  font-family: Mulish;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  color: #1d1929;
}
.only_verified {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #1d1929;
}
.back_btn {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 15px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  color: #9393aa;
  padding: 10px 40px;
  margin-right: 10px;
}
.continue_btn {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(45deg, #3093bb 0%, #82dbff 100%);
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 12px;
  color: #fff;
}
.language_search_icon {
=======
.close_btn_1{
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 15px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  color: #9393AA;
  padding: 10px 25px;
  margin-right: 10px;
}
.skip_registration_title{
  font-family: Mulish;
  font-Weight: 600;
  font-size: 18px;
  margin-top: 15px;
  color: #1D1929;
}
.only_verified{
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #1D1929;
}
.back_btn{
  font-family: 'Mulish';  
  font-weight: 600;
  font-size: 15px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  color: #9393AA;
  padding: 10px 40px;
  margin-right: 10px;
}
.continue_btn{
  font-family:Mulish;
  font-Weight:700;
  font-size: 16px;
  background: linear-gradient(45deg, #3093BB 0%, #82DBFF 100%);
  width: 100%;
  padding: 15px 20px;
  border:none;
  border-radius: 12px;
  color: #fff;
}
.language_search_icon{
>>>>>>> Stashed changes
  margin-top: -35px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
<<<<<<< Updated upstream
.lable_bg {
  background: #24b2b2 !important;
=======
.lable_bg{
  background: #24B2B2!important;
>>>>>>> Stashed changes
  margin-top: -27px;
  margin-left: -30px;
  margin-bottom: -12px;
}
<<<<<<< Updated upstream
.lable_bg_2 {
  background: #24b2b2 !important;
=======
.lable_bg_2{
  background: #24B2B2!important;
>>>>>>> Stashed changes
  margin-top: -27px;
  margin-left: -30px;
  margin-bottom: -12px;
}
<<<<<<< Updated upstream
.tag_name_box {
  background: #24b2b2;
  border-radius: 4px;
  padding: 5px 5px 8px 10px;
  color: #fff;
}
.form_bottom {
  margin-bottom: 15px !important;
}
.close_icon {
  padding: 0 5px 0 10px;
  margin-top: -3px;
}
/*---------------------------------------------User Profile Css End---------------------------------------------*/

/*---------------------------------------------Homepage Header Css Start---------------------------------------------*/

.headerNav {
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 64, 128, 0.04);
  font-family: "Mulish", sans-serif;
}
.nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.nav-link .active {
  color: #3093bb !important;
}

.dropdown-menu.show {
  display: block;
  position: absolute;
  top: 50px;
  left: -140px;
  box-shadow: 0px 5px 10px rgba(0, 64, 128, 0.04);
  border-radius: 16px;
  border: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider.round {
  border-radius: 26px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 28px;
  width: 49px;
}
.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  top: 4px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.go_online {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #24b2b2;
}
.profile_name {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #1e1f20;
}
/*---------------------------------------------Homepage Header Css End---------------------------------------------*/

/*---------------------------------------------Admin Body Css Start---------------------------------------------*/
.texts {
  color: #9393aa;
}
.cards-layout {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border: none;
  font-family: "Mulish", sans-serif;
}

.card-body {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  text-align: center;
  width: 264px;
}
.card-body .float-right {
  float: right;
}
.card_dynamicnum {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #1e1f20;
}

.admin-bottom-content {
  font-family: "Mulish", sans-serif;
  max-width: 408px;
  margin: auto;
}
.welcome-text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  color: #1e1f20;
}

.medical-text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #F8446C;
}
.profile-bottom-text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #9393aa;
}
.avatar2 {
  width: 136px;
  height: 136px;
}
.joincommnity {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.pleasefill {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.profile_btn {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(45deg, #3093bb 0%, #82dbff 100%);
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 12px;
  color: #fff;
  margin-top: 50px;
}

/*---------------------------------------------Admin Body Css End---------------------------------------------*/
/*---------------------------------------------Datatable Css Start---------------------------------------------*/
.button-spaces {
  gap: 20px;
}
.cancel-button,
.datepicker,
.search {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.cancel-button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #f8446c;
}
.search {
  width: 306px;
}
.crud-datatable {
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 64, 128, 0.04);
  border-radius: 12px;
  padding: 24px 16px;
}

.custom-select {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8p;
  border: none;
  width: 121px;
  height: 34px;
}

/*---------------------------------------------Admin Body Css End---------------------------------------------*/
=======
.tag_name_box{
  background: #24B2B2;
  border-radius: 4px;
  padding: 5px 5px 8px 10px;
  color: #fff;  
}
.form_bottom{
  margin-bottom: 15px!important;
}
.close_icon{
  padding: 0 5px 0 10px;
  margin-top: -3px;
}
.added_qualifications{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #9393AA;
}
.qualification_text{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1E1F20;
}
.remove_title{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #F8446C;
}
.certificate_name{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1E1F20;
  margin-top: 5px;
  margin-bottom: 0px;
}
.delete_photo{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #9393AA;
  margin-top: 5px;
}
.attach_certificate{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #24B2B2;
  border-radius: 12px;
  padding: 15px 30px;
  border: none;
  width: 80%;
}
.attach_icon{
  padding-right: 5px;
}
.bottom_border{
  border: 1px solid #3093BB!important;
}
.id_proof_doc{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #1E1F20;
}
.aadhar_text{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1E1F20;
  margin-top: 15px;
}
.upload_signature{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1E1F20;
  margin-top: 15px;
}
.submit_btn{
  font-family:Mulish;
  font-Weight:700;
  font-size: 16px;
  background: linear-gradient(45deg, #3093BB 0%, #82DBFF 100%);
  width: 100%;
  padding: 15px 20px;
  border:none;
  border-radius: 12px;
  color: #fff;
}
.submit_profile{
  font-family: Mulish;
  font-Weight: 600;
  font-size: 18px;
  margin-top: 15px;
  color: #1D1929;
}
.modal_header{
  border-bottom: none!important;
}
.preferred_schedule{
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #F8446C;
}
.set_up_btn{
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(45deg, #3093BB 0%, #82DBFF 100%);
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  color: #fff;
  padding: 10px 30px;
}
.upload_avatar_img{
  width: -webkit-fill-available;
}
/*---------------------------------------------User Profile Css End---------------------------------------------*/
/*---------------------------------------------Doctor Appointment Css Start---------------------------------------------*/
.doc_appointment_head{
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  color: #1E1F20;
  margin-top: 15px;
  margin-bottom: 20px;
}
.doc_appointment_title{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #1E1F20;
}
.doc_appointment_form_title{
  font-family: Mulish;
  font-size: 16px;
  color: #000;
  line-height: 20px;
  font-weight: 600;
}
.fee_card {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #3093BB;
  background: #FFFFFF;
  border: 1px solid #3093BB;
  border-radius: 8px;
  padding: 8px 34px;
  margin-top: 28px;
}
.consult_fee_subtext{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #F8446C;
}
.time_slot{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #1E1F20;
}
/*---------------------------Tabs Section-------------------------*/
.nav-tabs .nav-link{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #9393AA;
  border: none;
}
.nav-tabs{
  border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #24B2B2;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:after{
  content: "";
  border-bottom: 3px solid #24B2B2;
  width: 30px;
  transform: rotate(180deg);
  position: absolute;
  margin-top: 35px;
  margin-left: -85px;
}
.tab_inner_box{
  padding: 20px 0px;
}
/*---------------------------Tabs Section-------------------------*/
.day_box{
  display: inline-flex;
  column-gap: 22px;
}
.days_bg{
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  padding: 8px;
  border-radius: 50px;
  height: 45px;
  width: 45px;
}
.days_bg_2{
  background: linear-gradient(45deg, #3093BB 0%, #82DBFF 100%);
  border: 1px solid #E0E0E0;
  padding: 8px;
  border-radius: 50px;
  height: 45px;
  width: 45px;
}
.days_bg_3{
  background: #24B2B2;
  border: 1px solid #E0E0E0;
  padding: 8px;
  border-radius: 50px;
  height: 45px;
  width: 45px;
}
.hide_radio_btn{
  margin-top: -65px;
  position: relative;
  width: 44px;
  height: 33px;
  right: 0;
  margin-left: 0px;
  border-radius: 45px;
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url('../img/accordien_plus.svg');
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
}
.accordion-button:not(.collapsed)::after {
  background-image: url('../img/accordien_minus.svg');
  transform: none;
  margin-top: 2px;
  margin-bottom: -15px;
}
.accordion{
  --bs-accordion-border-color: none!important;
}
.accordion-button:not(.collapsed){
  background: transparent!important;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #1E1F20;
}
.accordion-button{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #1E1F20;
}
.start_at{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #1E1F20;
}
/*----------------------------------------------Doctor Appointment Css End----------------------------------------------*/

>>>>>>> Stashed changes
